
/*

This file is used to define global styles that will be applied to the entire application
Tailwindcss is a utility-first CSS framework that allows us to build custom designs without having
to write custom CSS

Tailwind’s Layers:
base: For resetting or adding base styles.
components: For adding reusable styles, like buttons or cards.
utilities: Holds all utility classes like text-gray-500 or bg-blue-200.


These layers help you organize CSS rules and control their loading order.
For example, base loads first, components next, and utilities last, so utility classes
override component and base styles if needed.

 */


/* Base Layer is used to define the default styles for the base html elements like body, h1, h2, h3, h4, h5,
h6, p, a, etc and reset the default browser styles for these elements. */
@tailwind base;


/* Components are used to define custom styles that can be applied to specific elements as classes to style them:
e.g of defining a component:

@layer components {
  .btn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
}

then we can apply this component to any element in our application like so:
<div class="btn">Hello World</div>

The difference between components and utilities is that components are used to define custom styles that
can be applied to specific elements as classes to style them, while utilities are used to define custom
styles that can be applied to any element as classes to style them. Treat components as bunch of
utility classes that are grouped together to style a specific element.

The spcificity of a utility class is higher than that of a component class is higher than that of a base class.
*/


@tailwind components;


/* Utility classes are used to define custom styles that can be applied to any element as classes to style them:
e.g of defining a utility class:

@layer utilities {
  .border-border {
    border: 1px solid var(--border);
  }
}

then we can apply this utility class to any element in our application like so:
<div class="border-border">Hello World</div>
*/
@tailwind utilities;




@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 333, 71%, 51%; /*  #db2777 */ /* This will be default background color for our  buttons */
    --primary-foreground: 0 0% 100%; /* white */
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72% 51%;  /* color for validation errors */
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 333, 71%, 51%; /*  #db2777 */
    ---primary-foreground: 0 0% 100%; /* white */
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;  /* color for validation errors */
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}


  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }


    h1, h2, h3, h4, h5, h6 {
      {{/* font-weight: 700; */}}
      {{/* @apply applies all of the styles assocaited with a particular classaname
      from the tailwindcss library */}}
      @apply font-bold;
    }

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.75rem;
    }

    h4 {
      font-size: 1.5rem;
    }

    h5 {
      font-size: 1.25rem;
    }

    h6 {
      font-size: 1rem;
    }

  }



/*
  @layer components {
    .btn {
      @apply px-4 py-2 rounded-md;
    }

    .btn-primary {
      @apply bg-primary text-primary-foreground;
    }

    .btn-secondary {
      @apply bg-secondary text-secondary-foreground;
    }

    .btn-accent {
      @apply bg-accent text-accent-foreground;
    }

    .btn-destructive {
      @apply bg-destructive text-destructive-foreground;
    }

    .btn-muted {
      @apply bg-muted text-muted-foreground;
    }

    .btn-outline {
      @apply border border-primary text-primary;
    }

    .btn-outline-primary {
      @apply border-primary text-primary;
    }

}
*/

/*
  body {

    @apply bg-red-700; // OR
    background-color: theme(backgroundColor.red.700);
  }

*/